bin/
obj/
out/
TestResults/

# IDE
.vs/
.vscode/

# User secrets & local configs
appsettings.*.local.json
secrets.json
.env

# Logs
*.log

# OS junk
.DS_Store
Thumbs.db

# Misc
*.user
*.swp
*.suo
*.userosscache
*.sln.docstates
